<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.zeke.example.coroutines">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
            android:name="com.kingz.coroutines.DemoApp"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name="com.kingz.coroutines.demo.LoginActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kingz.coroutines.learn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
                android:name="com.kingz.coroutines.learn.retrofit.single.SingleNetworkCallActivity"
                android:label="@string/single_network_call" />
        <activity
                android:name="com.kingz.coroutines.learn.retrofit.series.SeriesNetworkCallsActivity"
                android:label="@string/series_network_calls" />
        <activity
                android:name="com.kingz.coroutines.learn.retrofit.parallel.ParallelNetworkCallsActivity"
                android:label="@string/parallel_network_calls" />
        <activity
                android:name="com.kingz.coroutines.learn.room.RoomDBActivity"
                android:label="@string/room_database" />

        <activity
                android:name="com.kingz.coroutines.learn.timeout.TimeoutActivity"
                android:label="@string/timeout" />
        <activity
                android:name="com.kingz.coroutines.learn.task.onetask.LongRunningTaskActivity"
                android:label="@string/long_running_task" />
        <activity
                android:name="com.mindorks.example.coroutines.learn.task.twotasks.TwoLongRunningTasksActivity"
                android:label="@string/two_long_running_tasks" />

    </application>
</manifest>
