<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingz.uiusingListViews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <!-- 创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 百度地图所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.app.KingZApplication">
        <!-- supportsRtl 支持从右到左布局,API17以上 -->

        <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="XwMW9CR6w14VOWGG4AkGue8W" />

        <!-- 主Activity -->
        <activity
            android:name="com.kingz.uiusingListViews.MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>

        <!-- 原生SeekBar -->
        <activity android:name="com.kingz.uiusingWidgets.SeekBarActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- 自定义 SeekBar -->
        <activity android:name="com.kingz.uiusingWidgets.UsingCustomSeekBar"
                 android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 绘画的方式画seekBar -->
        <activity
            android:name="com.kingz.uiusingCanvas.CustomCanvasSeekBarAct"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- progressBar -->
        <activity android:name="com.kingz.uiusingWidgets.UsingProgressBarAct"
                android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingWidgets.ToastTestActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar"/>


        <!-- 布局测试的ListView -->
        <activity android:name="com.kingz.uiusingListViews.LayoutActivityListView"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingLayout.LinearLayoutTest_Act"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingLayout.FragmentPageFromCode"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingLayout.FragmentPageFromXml"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--常用控件集合-->
        <activity android:name="com.kingz.controls.BasicControlsActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.kingz.controls.MyGridView"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义控件的ListView-->
        <activity android:name=".CustomWidgetsActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingActivity.LableTextView_Act"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 四大组件的listview -->
        <activity android:name="com.kingz.uiusingListViews.FourComponentListView"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.four_components.ServiceComponentsACT"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.four_components.ObtainConnectPeopleActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--文件及bitmap操作的activity-->
        <activity android:name="com.kingz.uiusingActivity.FileAndPicTestACT"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--BitmapDemo页面-->
        <activity android:name="com.kingz.uiusingActivity.BitmapActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

         <!--图片缓存测试页面-->
        <activity android:name="com.AsuyncTaskJsonTest.AsynctaskBitmapMainActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

         <!--图片缓存测试页面-->
        <activity android:name="com.customview.NetworkSpeed.NetworkSpeedActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                    android:screenOrientation="landscape"/>

         <!--文件管理页面-->
        <activity android:name="com.kingz.filemanager.FileManagerActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义View -->
        <activity android:name="com.customview.FingerBallActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- CircleViewActivity -->
        <activity android:name="com.customview.CircleViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--webAppActivity-->
        <activity android:name="com.kingz.uiusingWidgets.KingWebViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义显示的listView -->
        <activity android:name="com.customview.listview.CustomListViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 可左右滑动的ListView -->
        <activity android:name="com.customview.listview.SliderListViewActivity"
                  android:screenOrientation="portrait"/>

         <!-- WZViewPagerActicity -->
        <activity android:name="com.customview.slider.wzviewpager.WZViewPagerActicity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

         <!-- OriginViewPagerActivity -->
        <activity android:name="com.customview.slider.wzviewpager.OriginViewPagerActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>



        <!-- 百度地图View -->
        <activity android:name="com.baidudemo.BaiduMapActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

  	    <!-- Span页面 -->
        <activity android:name="com.kingz.controls.SpansActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

  	    <!-- 讯飞语音页面 -->
        <activity android:name="com.iflytek.synthesizer.VoiceActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>



        <!-- ************ 媒体 *********** -->
        <activity android:name="com.mplayer.KingZMediaPlayer"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="landscape"/>



        <!-- ************ API Demos 页面 ************ -->

        <activity android:name="com.app.AlarmServiceActivity"
                  android:theme="@android:style/Theme.Black"
                  android:screenOrientation="portrait"/>




        <!--服务 exported:外部是否可访问  process:为服务设置不同进程-->
        <service android:name="com.kingz.four_components.ComponentsOfService"
                 android:enabled="true"
                 android:exported="true"/>

        <!-- aidl测试 -->
        <service android:name="com.kingz.four_components.service.BoundServiceDemo">
        </service>

        <service android:name="com.kingz.four_components.IntentServicDemo"
                 android:exported="false">
        </service>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!--内容提供者-->
        <provider android:name="com.kingz.four_components.MyDemoContentProvider"
                  android:authorities="com.kingz.four_components.myprovider"
                  android:exported="true">
        </provider>

    </application>

</manifest>
