<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingz.uiusingListViews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20" />

    <!-- 创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- supportsRtl 支持从右到左布局,API17以上 -->

        <!-- 主Activity -->
        <activity
            android:name="com.kingz.uiusingListViews.MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>

        <!-- 原生SeekBar -->
        <activity android:name="com.kingz.uiusingWidgets.UsingSeekBarScrAct"
                  android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- 自定义 SeekBar -->
        <activity android:name="com.kingz.uiusingWidgets.UsingCustomSeekBar"
                 android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 绘画的方式画seekBar -->
        <activity
            android:name="com.kingz.uiusingMediaTest.CustomCanvasSeekBarAct"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>
         <!--android:screenOrientation="landscape">-->

        <!-- progressBar -->
        <activity android:name="com.kingz.uiusingWidgets.UsingProgressBarAct"
                android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- 布局测试的ListView -->
        <activity android:name="com.kingz.uiusingListViews.LayoutActivityListView"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingLayout.LinearLayoutTest_Act"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义控件的ListView-->
        <activity android:name=".CustomWidgetsActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingActivity.LableTextView_Act"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 四大组件的listview -->
        <activity android:name="com.kingz.uiusingListViews.FourComponentListView"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.four_components.ServiceComponentsACT"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--文件及bitmap操作的activity-->
        <activity android:name="com.kingz.uiusingActivity.FileAndPicTestACT"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--BitmapDemo页面-->
        <activity android:name="com.kingz.uiusingActivity.BitmapActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

         <!--图片缓存测试页面-->
        <activity android:name="com.AsuyncTaskJsonTest.AsynctaskBitmapMainActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义View -->
        <activity android:name="com.customview.FingerBallActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义显示的listView -->
        <activity android:name="com.customview.livstview.CustomListViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 可左右滑动的ListView -->
        <activity android:name="com.customview.livstview.SliderListViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- Span页面 -->
        <activity android:name="com.kingz.basic_controls.SpansActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>



    <!--服务-->
        <service android:name="com.kingz.four_components.ComponentsOfService"/>

    </application>

</manifest>
