<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeke.module_player">

    <application android:allowBackup="true">
        <activity
            android:name="com.zeke.play.DetailPageActivty"
            android:configChanges="locale|screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/PlayTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.zeke.player.FullScreenPlayer"
            android:configChanges="locale|screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/PlayTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>
