<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zeke.module_login">

    <application
        android:name="com.kingz.module.common.CommonApp"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zeke.module_login.SplashActivity"
            android:theme="@style/AppStartingWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 启动页的自定义Scheme,方便Web页面拉起 -->
                <data
                    android:host="greek"
                    android:pathPrefix="/splash"
                    android:scheme="zekefish" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="com.zeke.module_login.SplashActivityRed"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_background_red"
            android:label="GeekMyth Red"
            android:targetActivity="com.zeke.module_login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>

</manifest>