<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingz.module.home">
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true">

        <activity
            android:name="com.zeke.home.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.zeke.home.ScrollableTabExampleActivity" />

        <activity android:name="com.zeke.home.wanandroid.setting.SettingActivity" />
    </application>
</manifest>