<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingz.module.common">
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name="com.kingz.module.wanandroid.activity.AppBarActivity"/>
    </application>
</manifest>
