<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingz.module.common">
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--  蓝牙 & 蓝牙所需的定位权限  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity
            android:name="com.kingz.module.wanandroid.activity.AppBarActivity"/>
    </application>
</manifest>
