<manifest package="com.zeke.demo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 动态权限 -->
     <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name="com.zeke.demo.draw.PracticeDrawActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.zeke.demo.draw.PracticeLayoutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.zeke.demo.draw.SmartImageDemoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.zeke.demo.color.ColorDemoActivity"/>
        <activity
            android:name="com.zeke.demo.widget.ToolBarTestActivity"/>

        <activity
            android:name=".graphics.PixelCopyDemo"/>


        <activity android:name="com.zeke.demo.photoview.sample.PhotoViewMainActivity"/>

        <!--**photoview sample**-->
        <activity android:name="com.zeke.demo.photoview.sample.SimpleSampleActivity" />

        <activity android:name="com.zeke.demo.photoview.sample.ViewPagerActivity" />

        <activity android:name="com.zeke.demo.photoview.sample.RotationSampleActivity" />

        <activity android:name="com.zeke.demo.photoview.sample.GlideSampleActivity" />

        <activity android:name="com.zeke.demo.photoview.sample.ActivityTransitionActivity" />

        <activity android:name="com.zeke.demo.photoview.sample.ActivityTransitionToActivity" />

        <activity android:name="com.zeke.demo.photoview.sample.ImmersiveActivity" />
        <!--**photoview sample**-->

        <activity android:name="com.zeke.demo.shadowlayout.ShadowLayoutDemoActivity" />

        <activity android:name="com.zeke.demo.fragments.FragementLifeCycleTestPage" />

        <activity android:name=".device.bluetooth.BleDemoActivity" />

        <!--   AppBarLayout 相关页面     -->
        <activity android:name="com.zeke.demo.meterial.AppBarLayoutDemoActivity" />

        <activity android:name="com.zeke.demo.meterial.ImmersionBarDemoActivity" />

        <activity
            android:name="com.zeke.demo.meterial.CollapseToolbarNoramalActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.zeke.demo.meterial.AppBarNormalActivity"
            android:theme="@style/AppTheme" />
        <!--   AppBarLayout 相关页面     -->


        <activity android:name=".jetpack.paging.PagingDemoActivity" />
        <activity android:name=".meterial.PaletteDemoActivity" />

        <!--    菜单demo    -->
        <activity
            android:name=".menu.app.PopupMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.ContextMenu4Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.ContextMenu3Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.ContextMenu2Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.SubMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.ContextMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.OptionMenu2Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.OptionMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".menu.app.MenuMainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

    </application>
</manifest>
