<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kingz.customdemo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="17"
            android:targetSdkVersion="19"/>

    <!-- Demo所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:name="com.App">
        <!-- supportsRtl 支持从右到左布局,API17以上 -->

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="XwMW9CR6w14VOWGG4AkGue8W|GlideModule"/>

        <provider
                android:authorities="com.kingz.customdemo"
                android:name="com.provider.KingZProvider"/>

        <activity
                android:name="com.SplashActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>

        <!-- 主Activity -->
        <activity
                android:name="com.MainActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--<category android:name="android.intent.category.HOME"/>-->
            <!--</intent-filter>-->
        </activity>

        <!---->
        <activity android:name="com.view.animation.PropertyAnimationsActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name="com.view.animation.ShakeAnimation"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.view.animation.ViewFlipperAnimation"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.view.animation.InterpolatorAnimation"
                  android:screenOrientation="portrait"/>

        <!-- 原生SeekBar -->
        <activity android:name="com.nativeWidgets.NativeSeekBar"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义 SeekBar -->
        <activity android:name="com.bling.pages.UsingCustomSeekBar"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 绘画的方式画seekBar -->
        <activity
                android:name="com.kingz.uiusingCanvas.CustomCanvasSeekBarAct"
                android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity
                android:name="com.view.shape.ShapeDrawOval"
                android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.view.surface.DrawRectWithSurface"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- progressBar -->
        <activity android:name="com.nativeWidgets.NativeProgressBar"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>


        <!-- 布局测试的ListView -->
        <activity android:name="com.kingz.pages.LayoutPage"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingLayout.LinearLayoutTest_Act"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.uiusingLayout.FragmentPageFromCode"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="landscape"/>

        <activity android:name="com.kingz.uiusingLayout.FragmentPageFromXml"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--常用控件集合-->
        <activity android:name="com.nativeWidgets.BasicControlsActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.nativeWidgets.AppsGridView"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义控件的ListView-->
        <activity android:name="com.kingz.pages.CustomViewsPage"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.pages.LableTextViewPage"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 四大组件的listview -->
        <activity android:name="com.kingz.pages.FourComponentPage"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.four_components.ServiceComponentsACT"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.four_components.ObtainConnectPeopleActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--文件及bitmap操作的activity-->
        <activity android:name="com.kingz.file.FileAndPicTestACT"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.content.ExternalStorage"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:name="com.kingz.pages.SaveDataByFilePage"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>


        <!--BitmapDemo页面-->
        <activity android:name="com.kingz.file.DownloadAPPActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--图片缓存测试页面-->
        <activity android:name="com.AsuyncTaskJsonTest.LruPicListViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--图片缓存测试页面-->
        <activity android:name="com.view.NetworkSpeed.NetworkSpeedActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="landscape"/>

        <!--BitMap测试页面-->
        <activity android:name="com.photo.BitmapPhotosActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--文件管理页面-->
        <activity android:name="com.kingz.filemanager.FileManagerActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义View -->
        <activity android:name="com.bling.pages.FingerBallActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- CircleViewActivity -->
        <activity android:name="com.bling.pages.CircleViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!--webAppActivity-->
        <activity android:name="com.view.webview.WebViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 自定义显示的listView -->
        <activity android:name="com.view.listview.CustomListViewActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 可左右滑动的ListView -->
        <activity android:name="com.view.scroll.SliderListViewActivity"
                  android:screenOrientation="portrait"/>

        <!-- WZViewPagerActicity -->
        <activity android:name="com.view.slider.wzviewpager.WZViewPagerActicity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- WaveLoadingActivity -->
        <activity android:name="com.bling.pages.WaveLoadingActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.view.scroll.ScrollTestActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- OriginViewPager -->
        <activity android:name="com.nativeWidgets.OriginViewPager"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>


        <!-- 百度地图View -->
        <activity android:name="com.lbs.BaiduMapActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 百度地图View -->
        <activity android:name="com.photo.FilmsListActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- Span页面 -->
        <activity android:name="com.nativeWidgets.SpansDemo"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 讯飞语音页面 -->
        <activity android:name="com.iflytek.synthesizer.VoiceActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>


        <!-- ************ 媒体 *********** -->
        <activity android:name="com.mplayer.ApolloMediaPlayer"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="landscape"/>


        <!-- ************ API Demos 页面 ************ -->

        <activity android:name="com.apiDemo.AlarmServiceActivity"
                  android:theme="@android:style/Theme.Black"
                  android:screenOrientation="portrait"/>

        <!-- ************ AIDL 测试页面 ************ -->
        <activity android:name="com.kingz.ipcdemo.AIDLActivity"
                  android:theme="@android:style/Theme.Black"
                  android:screenOrientation="portrait"/>

        <!--  ************ 图形方面  Start ************ -->
        <activity android:name="com.kingz.graphics.Arcs"
            android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name="com.kingz.graphics.PathEffects"
            android:theme="@android:style/Theme.Holo.Light"/>




        <!--  ************ 图形方面  End ************ -->



        <!--服务 exported:外部是否可访问  process:为服务设置不同进程-->
        <service android:name="com.kingz.four_components.MyComponentsOfService"
                 android:enabled="true"
                 android:exported="true"/>

        <!-- aidl测试 start -->
        <service android:name="com.kingz.four_components.service.BoundServiceDemo">
        </service>

        <service
                android:name="com.kingz.ipcdemo.AIDLService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.kingz.aidl"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <!-- aidl测试 End -->


        <service android:name="com.kingz.four_components.IntentServicDemo"
                 android:exported="false">
        </service>


        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>

        <!--内容提供者-->
        <provider android:name="com.kingz.four_components.MyDemoContentProvider"
                  android:authorities="com.kingz.four_components.myprovider"
                  android:exported="true">
        </provider>

    </application>

</manifest>
