<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeke.moudle_eyepetizer">

    <application android:allowBackup="true">
        <activity
            android:name="com.zeke.eyepetizer.videodetail.VideoDetailPlayActivity"
            android:configChanges="locale|screenSize|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:windowFullscreen="true"
            android:windowContentOverlay="@null"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>
