<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeke.module_login">


    <application android:allowBackup="true">

        <activity android:name="com.zeke.module_login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
